<ng-container *ngIf="mediaList$ | async as multimedia; else loading">
  <div class="grid-cols-card grid scroll-mt-32 gap-6 p-6" #topOfPage>
    <div class="col-[1/-1] mb-10 h-[490px] cursor-pointer justify-end">
      <ng-filmpire-featured-media-slider
        [slides]="multimedia.results"
      ></ng-filmpire-featured-media-slider>
    </div>

    <ng-container *ngFor="let media of multimedia.results">
      <ng-filmpire-media-card-item
        [media]="media"
      ></ng-filmpire-media-card-item>
    </ng-container>
  </div>

  <mat-paginator
    [length]="multimedia.total_results"
    [pageSize]="multimedia.results.length"
    [pageIndex]="multimedia.page - 1"
    (page)="goToPage($event)"
  >
  </mat-paginator>
</ng-container>

<ng-template #loading>
  <div class="flex w-full items-center justify-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
