<ng-container *ngIf="mediaInfoPage | async as media">
  <div *ngIf="media.loaded; else loading" #topOfPage class="scroll-mt-40">
    <div class="container px-4 py-8">
      <div class="flex justify-evenly max-sm:block">
        <div
          class="max-sm:mb-4 max-sm:flex max-sm:w-full max-sm:place-content-center"
        >
          <img
            [src]="
              media.mediaInfo.poster_path
                ? 'https://image.tmdb.org/t/p/w300' +
                  media.mediaInfo.poster_path
                : 'assets/media-poster-placeholder.png'
            "
            alt="{{
              media.currentMedia === 'movie' ? 'Movie Poster' : 'TV Show Poster'
            }}"
            width="300"
            height="450"
            class="rounded-lg shadow-md shadow-gray-600"
          />
        </div>
        <div class="w-2/3 pl-8 max-sm:w-full max-sm:pl-0">
          <h1 class="text-center text-4xl font-semibold">
            <ng-container
              *ngIf="media.currentMedia === 'movie' && isMovie(media.mediaInfo)"
            >
              {{ media.mediaInfo.title }}
            </ng-container>
            <ng-container
              *ngIf="media.currentMedia === 'tv' && isTV(media.mediaInfo)"
            >
              {{ media.mediaInfo.name }}
            </ng-container>
            (
            <ng-container
              *ngIf="media.currentMedia === 'movie' && isMovie(media.mediaInfo)"
            >
              {{ media.mediaInfo.release_date | date : 'yyyy' }}
            </ng-container>
            <ng-container
              *ngIf="media.currentMedia === 'tv' && isTV(media.mediaInfo)"
            >
              {{ media.mediaInfo.first_air_date | date : 'yyyy' }} -
            </ng-container>

            <ng-container
              *ngIf="
                media.currentMedia === 'tv' &&
                isTV(media.mediaInfo) &&
                media.mediaInfo.status === 'Ended'
              "
            >
              {{ media.mediaInfo.last_air_date | date : 'yyyy' }}
            </ng-container>
            )
          </h1>

          <h2
            class="mt-4 text-center text-2xl italic"
            *ngIf="media.mediaInfo.tagline"
          >
            "{{ media.mediaInfo.tagline }}"
          </h2>

          <div class="flex items-baseline justify-between gap-6">
            <div class="mt-4 flex items-center">
              <span class="mr-1 text-xl text-yellow-500">&#9733;</span>
              <span class="text-xl text-gray-600 dark:text-white">{{
                media.mediaInfo.vote_average | number : '1.1-1'
              }}</span>
              <span class="text-xl text-gray-600"> /10 </span>
              <sub *ngIf="media.mediaInfo.vote_count" class="ml-1 text-gray-600"
                >({{ media.mediaInfo.vote_count | abbreviateNumber }})</sub
              >
            </div>

            <div class="font-serif text-xl font-medium text-gray-600">
              <ng-container
                *ngIf="
                  media.currentMedia === 'movie' && isMovie(media.mediaInfo)
                "
              >
                {{ media.mediaInfo.runtime }} min ●
              </ng-container>

              <ng-container
                *ngIf="media.currentMedia === 'tv' && isTV(media.mediaInfo)"
              >
                TV Series ●
              </ng-container>

              <ng-container
                *ngIf="
                  media.currentMedia === 'tv' &&
                  isTV(media.mediaInfo) &&
                  media.mediaInfo.episode_run_time.length > 0
                "
              >
                {{ media.mediaInfo.episode_run_time | slice : 0 - 1 }} min ●
              </ng-container>

              <ng-container
                *ngIf="
                  media.currentMedia === 'movie' && isMovie(media.mediaInfo)
                "
              >
                {{ media.mediaInfo.release_date | date : 'mediumDate' }} ●
              </ng-container>
              <ng-container
                *ngIf="media.currentMedia === 'tv' && isTV(media.mediaInfo)"
              >
                {{ media.mediaInfo.first_air_date | date : 'mediumDate' }} ●
              </ng-container>

              {{ languageNames.of(media.mediaInfo.original_language) }}
            </div>
          </div>

          <div class="mt-6 flex flex-wrap items-baseline justify-center gap-4">
            <ng-container *ngFor="let genre of media.mediaInfo.genres">
              <a
                class="flex items-center justify-center hover:scale-110"
                [routerLink]="['/genre', media.currentMedia, genre.id]"
              >
                <img
                  class="mr-2 dark:invert"
                  src="assets/genres and categories/{{
                    genre.name | lowercase
                  }}.png"
                  alt=""
                  height="30"
                  width="30"
                />
                <div class="font-medium">{{ genre.name | titlecase }}</div>
              </a>
            </ng-container>
          </div>

          <div class="mt-6">
            <h2 class="text-2xl font-semibold">Overview</h2>
            <p
              *ngIf="media.mediaInfo.overview; else noOverview"
              class="mt-2 font-normal text-gray-700 dark:text-white"
            >
              {{ media.mediaInfo.overview }}
            </p>
          </div>
          <div class="mt-6">
            <h2 class="text-2xl font-semibold">Top Cast</h2>
            <div class="mt-2 flex gap-1 overflow-x-auto">
              <ng-container
                *ngIf="media.mediaInfo.credits.cast.length > 0; else noCast"
              >
                <ng-container
                  *ngFor="let actor of media.mediaInfo.credits.cast"
                >
                  <a
                    class="min-w-[25%] cursor-pointer max-sm:min-w-[40%]"
                    [routerLink]="['/actor', actor.id]"
                  >
                    <img
                      [src]="
                        actor.profile_path
                          ? 'https://image.tmdb.org/t/p/w185' +
                            actor.profile_path
                          : 'assets/actor_avatar_placeholder.jpg'
                      "
                      alt="{{ actor.name }}"
                      class="mx-auto h-[150px] w-full max-w-[100px] rounded-lg object-cover hover:scale-105"
                      loading="lazy"
                    />
                    <p class="mt-1 text-center text-sm">{{ actor.name }}</p>
                    <p class="mt-1 text-center text-sm text-gray-600">
                      {{ actor.character }}
                    </p>
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div class="mt-6 flex justify-between gap-3 max-md:flex-col">
            <a
              *ngIf="media.mediaInfo.homepage"
              class="bg-[#1976d2] dark:bg-[#dc1a28]"
              [href]="media.mediaInfo.homepage"
              matTooltip="Visit Official Website"
              mat-fab
              extended
              target="_blank"
            >
              <mat-icon>language</mat-icon>
              Website
            </a>

            <a
              *ngIf="media.mediaInfo.imdb_id && !media.isLoggedIn"
              class="bg-[#1976d2] dark:bg-[#dc1a28]"
              href="https://www.imdb.com/title/{{ media.mediaInfo.imdb_id }}"
              matTooltip="Visit imDB page"
              mat-fab
              extended
              target="_blank"
            >
              <mat-icon>tv</mat-icon>
              IMDb
            </a>

            <button
              class="bg-[#1976d2] dark:bg-[#dc1a28]"
              *ngIf="media.mediaInfo.videos.results.length > 0"
              matTooltip="Watch trailers"
              mat-fab
              extended
              (click)="openVideosDialog(media.mediaInfo.videos.results)"
            >
              <mat-icon>movie</mat-icon>
              Videos
            </button>

            <ng-container *ngIf="media.accountState as account">
              <button
                class="bg-[#1976d2] dark:bg-[#dc1a28]"
                mat-fab
                extended
                [matTooltip]="
                  account.favorite
                    ? 'Remove from Favorites'
                    : 'Add to Favorites'
                "
                (click)="addToFavorite(media.mediaInfo.id, !account.favorite)"
              >
                <mat-icon>{{
                  account.favorite ? 'favorite' : 'favorite_border'
                }}</mat-icon>
                {{ account.favorite ? 'Unfavorite' : 'Favorite' }}
              </button>

              <button
                class="bg-[#1976d2] dark:bg-[#dc1a28]"
                mat-fab
                [matTooltip]="
                  account.watchlist
                    ? 'Remove from Watchlist'
                    : 'Add to Watchlist'
                "
                extended
                (click)="addToWatchlist(media.mediaInfo.id, !account.watchlist)"
              >
                <mat-icon>{{ account.watchlist ? 'remove' : 'add' }}</mat-icon>
                Watchlist
              </button>
            </ng-container>

            <button
              class="bg-[#1976d2] dark:bg-[#dc1a28]"
              matTooltip="Go to previous page"
              mat-fab
              extended
              (click)="navigateToPreviousPage()"
            >
              <mat-icon>arrow_back</mat-icon>
              Back
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4">
      <div class="h-full border-l-4 border-blue-500 pl-4 dark:border-red-700">
        <h2 class="mb-10 text-3xl font-semibold dark:text-white">
          You may also like...
        </h2>
      </div>
      <div class="grid-cols-card grid gap-6">
        <ng-container
          *ngIf="
            media.mediaInfo.recommendations.results.length > 0;
            else noRecommendations
          "
        >
          <ng-container
            *ngFor="let media of $any(media.mediaInfo.recommendations.results)"
          >
            <ng-filmpire-media-card-item
              [media]="media"
            ></ng-filmpire-media-card-item>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noOverview>
  <p class="italic">No overview available</p>
</ng-template>

<ng-template #noCast>
  <p class="italic">No cast details available</p>
</ng-template>

<ng-template #noRecommendations>
  <p class="italic">No recommendations available</p>
</ng-template>

<ng-template #loading>
  <div class="flex w-full items-center justify-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
