.mat-mdc-tab-body.mat-mdc-tab-body-active {
  margin: 20px;

  .mat-mdc-tab-body-content {
    overflow: hidden;
  }
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
  padding: 24px;
}
