<div class="mat-app-background" [ngClass]="{ dark: darkMode }">
  <mat-sidenav-container
    class="flex flex-col absolute top-0 bottom-0 left-0 right-0 h-screen"
  >
    <mat-sidenav
      mode="side"
      opened
      class="w-[240px] overflow-auto dark:bg-[#121212] max-sm:hidden"
    >
      <ng-container *ngIf="moiveGenres$ | async as genres">
        <ng-filmpire-sidebar
          [darkMode]="darkMode"
          [genres]="genres.genres"
        ></ng-filmpire-sidebar>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav
      mode="over"
      position="end"
      #snav
      class="w-[240px] overflow-auto dark:bg-[#121212] max-sm:block"
    >
      <ng-container *ngIf="moiveGenres$ | async as genres">
        <ng-filmpire-sidebar
          [darkMode]="darkMode"
          [genres]="genres.genres"
        ></ng-filmpire-sidebar>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content class="dark:bg-[#121212] dark:text-white">
      <ng-filmpire-navbar
        [darkMode]="darkMode"
        (toggleDarkMode)="toggleDarkMode()"
        (toggleMobileSidenav)="toggleMobileSidenav()"
      ></ng-filmpire-navbar>

      <main class="mt-20 p-2 max-sm:mt-36">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
